.image-wrapper {
  border: 1px solid #ced4da;
  cursor: pointer;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  gap: 1.2rem;
  padding: 1.2rem 1.2rem;
  align-items: center;
  border-radius: 0 0 11px 11px;
}

.user-profile {
  border-radius: 50%;
}
.post-details {
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-full-name {
  font-weight: 500;
}

.user-name {
  color: #495057;
}

.likes-count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.like-icon {
  font-size: 1.8rem;
}

.image-wrapper .query-image {
  width: 100%;
  border-radius: 11px 11px 0 0;
}
